<style>

  .table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
  }
  .table {
    margin-top: 20px;
  }

  .table thead th {
    border-top: none;
  }

  .table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  .table tbody tr:hover {
    background-color: #e2e2e2;
  }

  .table tbody tr td {
    vertical-align: middle;
  }

  .table tbody tr td:first-child {
    font-weight: bold;
  }

  .table tbody tr td:last-child {
    text-align: center;
  }

  .table tbody tr td:last-child a {
    color: #000;
    text-decoration: none;
  }

  .table tbody tr td:last-child a:hover {
    color: #000;
    text-decoration: underline;
  }
</style>

<table class="table table-striped">
  <caption>
    Trovati
    {{
      artisti?.length
    }}
    Artisti
  </caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Nazione</th>
      <th scope="col">Anno Inizio</th>
      <th scope="col">Gruppo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let artista of artisti; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td [innerHTML]="artista.nome"></td>
      <td [innerHTML]="artista.nazione"></td>
      <td [innerHTML]="artista.annoInizio"></td>
      <td [innerHTML]="artista.gruppo ? 'Sì' : 'No'"></td>
    </tr>
  </tbody>
</table>
