
<h4 class="text-center">Home Page</h4>

<div class="container">
  <div class="row">
    <div class="col">
      <video width="320" height="240" controls>
        <source src="../../assets/che ne pensi.mp4" type="video/mp4" >
        <button type="button" style="width: 50px; height: 30px;" class="btn btn-primary">Like </button>
        <button type="button" style="width: 50px; height: 30px; text-align:right;" class="btn btn-primary">Dislike</button>
      </video>
    </div>
   
    <div class="col">
      <video width="320" height="240" controls>
        <source src="../../assets/che ne pensi.mp4" type="video/mp4" >
        </video>
    </div>
    <div class="col">
      <video width="320" height="240" controls>
        <source src="../../assets/che ne pensi.mp4" type="video/mp4" >
        </video>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <video width="320" height="240" controls>
        <source src="../../assets/che ne pensi.mp4" type="video/mp4" >
        </video>
    </div>
    <div class="col">
      <video width="320" height="240" controls>
        <source src="../../assets/che ne pensi.mp4" type="video/mp4" >
        </video>
    </div>
    <div class="col">
      <video width="320" height="240" controls>
        <source src="../../assets/che ne pensi.mp4" type="video/mp4" >
        </video>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <video width="320" height="240" controls>
        <source src="../../assets/che ne pensi.mp4" type="video/mp4" >
        </video>
    </div>
    <div class="col">
      <video width="320" height="240" controls>
        <source src="../../assets/che ne pensi.mp4" type="video/mp4" >
        </video>
    </div>
    <div class="col">
      <video width="320" height="240" controls>
        <source src="../../assets/che ne pensi.mp4" type="video/mp4" >
        </video>
    </div>
</div>

<style>.text-center {
  text-align: center;
}

.container {
  margin-top: 20px;
}

.row {
  margin-bottom: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 320px;
  height: 240px;
}

.btn-primary {
  margin-top: 10px;
}
</style>




